# Example environment variables file
# Copy this to .env and fill in your actual values

# Trading Bot Environment Configuration

# API Keys (replace with your actual keys)
ROOSTOO_API_KEY=pBSecUt6JXG4DnpSiLBTNKQTW9Wdlh3SPdM33jwfjI0fMuyBtn3JwDAMyrvsc9b9
ROOSTOO_SECRET=lHpz0usFZR3bt5AUchMZ4YPOncagH5tXqhvO7QvhZYCqOzypM6Y0lvLx3P1Xhi6W
HORUS_API_KEY=

# API Configuration
ROOSTOO_BASE_URL=https://mock-api.roostoo.com

#Strategy Configuration
STRATEGY_MODE=MEAN_REVERSION
